---
layout: layouts/base
---
<main class="portfolio-container">
  <article>
  <h1 class="big-headline">Portfolios</h1>
  <section class="leadership">
    <h2 class="section-title">{{pages[0].title}}</h2>
    <ul class="classy-list">
    {% for item in pages[0].items %}
      <li> 
        <a href="/portfolio/{{item.title | replace: " ", "-"| downcase}}/">
          <h3>{{item.title | capitalize }}</h3>
          <p>{{item.desc}}</p>
        </a>
      </li>
    {% endfor %}
    </ul>
  </section>
  <!-- <div class="rule-extender">
    <div class="rule-gap-fill">&nbsp;</div>
  </div> -->
  <section class="individual">
    <h2 class="section-title">{{pages[1].title}}</h2>
    <ul class="classy-list">
    {% for item in pages[1].items %}
    <li>
      <a href="/portfolio/{{item.title | replace: " ", "-"| downcase}}/">
        <h3>{{item.title | capitalize }}</h3>
        <p>{{item.desc}}</p>
      </a>
    </li>
    {% endfor %}
    </ul>
  </section>
  </article>
</main>