---
layout: layouts/base
---
<main class="portfolio-container">
  {% include floating-nav, menuToRender: menus.main %}
  {% include fixed-top-nav, menuToRender: menus.main %}
  <article>
  <h1>Portfolios</h1>
  <section class="leadership">
    <h2>{{pages[0].title}}</h2>
    {% for item in pages[0].items %}
      <a href="/portfolio/{{item.title | replace: " ", "-"| downcase}}/">
        <h3>{{item.title | capitalize }}</h3>
        <p>{{item.desc}}</p>
      </a>
    {% endfor %}
  </section>
  <!-- <div class="rule-extender">
    <div class="rule-gap-fill">&nbsp;</div>
  </div> -->
  <section class="individual">
    <h2>{{pages[1].title}}</h2>
    {% for item in pages[1].items %}
    <a href="/portfolio/{{item.title | replace: " ", "-"| downcase}}/">
      <h3>{{item.title | capitalize }}</h3>
      <p>{{item.desc}}</p>
    </a>
    {% endfor %}
  </section>
  </article>
</main>
{% include footer %}